.sidebar {
  position: fixed;
  top: 56px; /* Adjust according to navbar height */
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #343a40;
  transition: 0.3s;
  padding-top: 10px;
  font-size: 20px;
}

.sidebar.show {
  left: 0;
}

.sidebar .nav-link {
  color: white;
}

.sidebar-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  padding: 10px 0;
}

.hover-highlight:hover {
  color: #f8f9fa !important;
}
.nav-item
{
  font-size: 17px;
}