.sidebar {
  position: fixed;
  top: 56px; /* Adjust according to navbar height */
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #343a40;
  transition: 0.3s;
  padding-top: 10px;
  font-size: 20px;
  z-index: 1000;
}

.sidebar.show {
  left: 0;
}
.sidebar .nav-link {
  color: white;
  font-size: 24px;
}
.hover-highlight:hover {
  color: #f8f9fa !important;
}
.nav-item
{
  font-size: 17px;
}
.nav-link {
  display: flex;
  align-items: center;
}

.nav-link i {
  width: 25px; /* Ensures uniform width for icons */
  text-align: center;
}
