#home {
    width: 100%;
    max-height: 100vh; 
    display: flex;
    background: top center;
    background-size: cover;
}

#home p{
    color: #212529;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    display: block;
}

h1{
    color: #212529; 
}

#home p span {
    color: #212529;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
    font-weight: bold;
}
.image-container
{
    flex: 1;
     min-height: 100vh ;
      margin-left: 30px
}
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

.floating-image {
    animation: float 3s ease-in-out infinite;
}
